
<% var attr = item.taskItemCode;%>
<% if(taskConfig[attr].params && taskConfig[attr].params.length){ %>
    <% var params = taskConfig[attr].params; %>
    <% params.forEach(function(itm,idx){ %>
    <div class="layui-inline unitStr item" data-id="<%=attr%>" >
        <% if(itm.isShow){ %>
          <% if(itm.isDynamict){} %>
          <% var validType = itm.validType || ''; %>
          <% if(itm.inputType == 'select'){ %>
              <div class="layui-inline">
                  <select name="<%=itm.proName%>" id=""
                      <%if(itm.required){%> lay-verify='required|<%=validType%>' <%}%>
                      >
                      <option value="" selected>--请选择--</option>
                      <% if(itm.options && itm.options.length){ %>
                          <% itm.options.forEach(function(itm2,idx){%>
                              <option value="<%=itm%>" selected>--请选择--</option>
                          <%})%>
                      <% }%>
                  </select>
              </div>                               
          <%}else{%>
              <div class="layui-inline">
                  <input type="text" class="layui-input" 
                      <%if(itm.required){%> lay-verify='required|<%=validType%>' <%}%>
                      name="<%=itm.proName%>">
              </div>
              <div class="layui-inline"><%=dynamicList.itemsUnitMap[itm.paramUnit.defaultVal]%></div>
              <input type="hidden" value="<%=itm.paramUnit.defaultVal%>" name="<%=itm.paramUnit.proName%>">
          <%}%>
        <%}else{%>
            <input type="hidden" value="">
        <%}%>
    </div>
    <%})%>
<%}%>