
<%if(taskItems && taskItems.length > 0){%>
  <%taskItems.forEach(function(sItem, index){%>
  <div class="prize-item layui-row">
      <div>
          <div class="prizeName">
              <select name="itemNumber" id="" lay-filter="addItemCode" >
                <%prizelist.forEach(function(prizeItem,prizeIndex){%>
                  <option data-category="<%=prizeItem.itemCategory%>" 
                    <%if(prizeItem.itemNumber == sItem.itemNumber){%> selected <%}%> 
                    value="<%=prizeItem.itemNumber%>" data-type="<%=prizeItem.itemType%>" ><%=prizeItem.itemName%></option>
                <%})%>
              </select>
              <%if(model == 'edit'){%>
                <input type="hidden" value="<%=sItem.id%>" name="id">
              <%}%>
          </div>    
          <% var itemCategory = ''; %>
          <% var unitAttr = prizeUnit[sItem.itemType]; %>
          <% var params = unitAttr.params; %>
          <div class="layui-inline prize-params layui-row layui-col-md12">
              <% params.forEach(function(pitm,idx){ %>
                  <div class="layui-inline prize-unit layui-col-md3 layui-row <%if(idx%3 != 0){%> layui-col-md-offset1 <%}%>" >
                        <%if(prizesLabel[pitm.proName]){%>
                            <label class="layui-form-grid-label layui-col-md5"><%=prizesLabel[pitm.proName]%></label>
                        <%}else if(pitm.label){%>
                            <label class="layui-form-grid-label layui-col-md5"><%=pitm.label%></label>
                        <%}else{%>
                            <%if(unitAttr.itemType == "interface" && pitm.proName == "itemParamVal"){%>
                                <label for="" class="layui-form-grid-label layui-col-md5">公式</label>
                            <%}else if(unitAttr.itemType == "withGold" && pitm.proName == "itemParamVal"){%>
                                <label for="" class="layui-form-grid-label layui-col-md5">奖励额度</label>
                            <%}else if(unitAttr.itemType == "analogCoin" && pitm.proName == "itemParamVal"){%>
                                <label for="" class="layui-form-grid-label layui-col-md5">模拟币</label>
                            <%}else if(unitAttr.itemType == "tokenCoin" && pitm.proName == "itemParamVal"){%>
                                <label for="" class="layui-form-grid-label layui-col-md5">代币</label>
                            <%}%>
                        <%}%>
                      <div class="layui-inline <%if(sItem.proName != 'infParamX'){%> layui-col-md7 <%}else{%> layui-col-md12 <%}%> ">
                          <%if(pitm.inputType == 'select'){%>
                            <select name="<%=sItem.proName%>" id="">
                                <option value="" selected>--请选择--</option>
                                <%if(sItem.isDynamict && dynamicList[sItem.dynamicOptionName]){%>
                                    <%dynamicList[sItem.dynamicOptionName].forEach(function(dyItem,dyIndex){%>
                                        <option value="<%=dyItem.key%>"><%=dyItem.title%></option>
                                    <%})%>
                                <%}%>
                            </select>
                          <%}else if(pitm.inputType == 'label') {%>
                              <div class="layui-inline <%=sItem.proName%>"><%=pitm.desc%></div>
                          <%}else{%>
                              <input type="text" class="layui-input" 
                                  name="<%=pitm.proName%>" 
                                  <%if(pitm.required){%> 
                                      lay-verify='required|<%=pitm.validType%>' 
                                  <%}else{%>
                                      lay-verify='<%=pitm.validType%>' 
                                  <%}%>
                                  value = "<%=sItem[pitm.proName]%>"
                              >
                          <%}%>
                      </div>
                      <%if(pitm.dynamicUnit){%>
                        <% var prizeCategory = sItem.itemCategory;%>
                        <%if(prizeCategory){%>
                            <%if(pitm.paramUnitMap[prizeCategory].inputType == "label"){%>
                                <div class="append layui-inline <%=pitm.paramUnitMap[prizeCategory].unitType%>" ><%=dynamicList.itemsUnitMap[pitm.paramUnitMap[prizeCategory].defaultVal]%></div>
                            <%}else if(pitm.paramUnitMap[prizeCategory].inputType == 'select'){%>
                                <div class="layui-inline appendSelect">
                                <select name="<%=pitm.paramUnitProName%>" id="">
                                    <%if(pitm.paramUnitMap[prizeCategory].options){%>
                                    <%pitm.paramUnitMap[prizeCategory].options.forEach(function(dyItem,dyIndex){%>
                                        <option value="<%=dyItem.key%>"><%=dyItem.title%></option>
                                    <%})%>
                                    <%}%>
                                </select>
                                </div>
                            <%}else{%>
                                <div class="append layui-inline"><%=dynamicList.itemsUnitMap[pitm.paramUnitMap[prizeCategory].defaultVal]%></div>
                            <%}%>
                        <%}else{%>
                            <div class="layui-inline appendSelect">
                                <select name="<%=pitm.paramUnitProName%>" id="">
                                    <%for(ppitm in pitm.paramUnitMap){%>
                                        <option value="<%=ppitm%>" class="<%=pitm.paramUnitMap[ppitm].unitType%>"><%=dynamicList.itemsUnitMap[pitm.paramUnitMap[ppitm].defaultVal]%></option>
                                    <%}%>
                                </select>
                            </div>
                        <%}%>
                        
                      <%}else{%>
                          <%if(pitm.paramUnit){%>
                              <%if(pitm.paramUnit.inputType == 'select'){%>
                                  <div class="layui-inline appendSelect">
                                      <select name="" id="" >
                                          <option value=""></option>
                                      </select>
                                  </div>
                              <%}else if(pitm.paramUnit.inputType == 'label'){%>
                                  <div class="append layui-inline <%=pitm.paramUnit.unitType%>"><%=dynamicList.itemsUnitMap[pitm.paramUnit.defaultVal]%></div>
                                  <input type="hidden"  class="<%=pitm.paramUnit.unitType%>" value="<%=pitm.paramUnit.defaultVal%>" name="<%=pitm.paramUnit.proName%>">
                              <%}else{%>
                                    <%if(pitm.paramUnit.isDynamict){%>
                                        <div class="append layui-inline <%=pitm.paramUnit.unitType%>" ><%=dynamicList.itemsUnitMap[pitm.paramUnit.dynamicVal]%></div>
                                        <input type="hidden" class="<%=pitm.paramUnit.unitType%>" value="<%=pitm.paramUnit.dynamicVal%>" name="<%=pitm.paramUnit.proName%>">
                                    <%}else{%>
                                        <div class="append layui-inline <%=pitm.paramUnit.unitType%>"><%=dynamicList.itemsUnitMap[pitm.paramUnit.defaultVal]%></div>
                                        <input type="hidden" class="<%=pitm.paramUnit.unitType%>" value="<%=pitm.paramUnit.defaultVal%>" name="<%=pitm.paramUnit.proName%>">
                                    <%}%>
                              <%}%>
                          <%}else{%>
                          <%}%>
                      <%}%>
                  </div>
              <%})%>
              
            <div class="layui-inline layui-col-md3 layui-col-md-offset1">
                <button class="layui-btn layui-btn-danger del-prize">删除物品</button>
            </div>
          </div>
      </div>
  </div>
  <%})%>
<%}%>