<div class="prize-item layui-row">
    <div class="prizeName">
        <select name="itemNumber" id="" lay-filter="addItemCode">
            <option value="" selected>--请选择--</option>
            <% prizelist.forEach(function(item,index){%>
                <option data-price="<%=item.itemPrice%>" data-category="<%=item.itemCategory%>" value="<%=item.itemNumber%>" data-type="<%=item.itemType%>" ><%=item.itemName%></option>
            <%})%>
        </select>
    </div>
    <div class="layui-row layui-col-md12">
        <div class="layui-inline prize-params layui-col-md12 layui-row"></div>
    </div>
</div>