<% if(typeof(data.id) != "undefined"){ %>
<form class="layui-form single">
	<div class="layui-form-item">
		<input type="hidden" name="id" id="id" value="<%=data.id%>" />
	</div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required">*</em><span>状态</span></label>
            <div class="layui-inline">
                <select name="enableFlag" id="enableFlag">
                    <option <%if(data.enableFlag == 'Y'){%> selected <%}%>  value="Y" >启用</option>
                    <option <%if(data.enableFlag == 'N'){%> selected <%}%> value="N" >禁用</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required">*</em><span>键</span></label>
            <div class="layui-inline">
                <input type="text" name="dataKey" disabled=disabled value="<%=data.dataKey%>" class="layui-input" autocomplete="off"   lay-verify="required" lay-verType="tips">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required">*</em> <span>值</span></label>
            <div class="layui-inline">
                <div class="layui-inline">
                    <textarea name="dataVal" value="<%=data.dataVal%>"  style="height:50px;" autocomplete="off" required lay-verType="tips" lay-verify="required" placeholder="请输入" class="layui-textarea"><%=data.dataVal%></textarea>
                </div>
                <p style="color:red;">(注意：值为json字符串，请使用类似{"a":"1","b":"2"}的格式)</p>                    
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required"></em><span>标签</span></label>
            <div class="layui-inline">
                <input type="text" value="<%=data.tag%>" name="tag" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required"></em><span>备注</span></label>
            <div class="layui-inline">
                <textarea name="remark" value="<%=data.remark%>" style="height:50px;" autocomplete="off" required lay-verType="tips"  placeholder="请输入" class="layui-textarea remark"><%=data.remark%></textarea>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <button class="node-submit" lay-submit lay-filter="seeAddRow"></button>
    </div>
</form>
<%}else{%>
<form class="layui-form single">
	<input type="hidden" name="id" id="id" value="<%=data.id%>" />
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required">*</em><span>状态</span></label>
            <div class="layui-inline">
                <select name="enableFlag" id="enableFlag">
                    <option selected value="Y" >启用</option>
                    <option  value="N" >禁用</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required">*</em><span>键</span></label>
            <div class="layui-inline">
                <input type="text" name="dataKey"  class="layui-input" autocomplete="off"   lay-verify="required" lay-verType="tips">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required">*</em><span>值</span></label>
            <div class="layui-inline">
                <div class="layui-inline">
                    <textarea name="dataVal"   style="height:40px;" autocomplete="off" required lay-verType="tips" lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
                </div>
                <p style="color:red;">(注意：值为json字符串，请使用类似{"a":"1","b":"2"}的格式)</p>                    
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required"></em><span>标签</span></label>
            <div class="layui-inline">
                <input type="text" name="tag" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline no-mr">
            <label for="" class="layui-form-label flex flex-align-items"><em class="required"></em><span>备注</span></label>
            <div class="layui-inline">
                <textarea name="remark"  style="height:40px;" autocomplete="off" required lay-verType="tips"  placeholder="请输入" class="layui-textarea remark"><%=data.remark%></textarea>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <button class="node-submit" lay-submit lay-filter="seeAddRow"></button>
    </div>
</form>
<%}%>